{% extends 'base.html' %}
{% block content %}
<form method='POST' action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
    {% if next_url %}
    <input type='hidden' name='next' value='{{ next_url }}' />
    {% endif %}

    <div class="row mb-2">
      <div class="col">
        {{ form.first_name }}
      </div>
      <div class="col">
        {{ form.last_name }}
      </div>
    </div>

    <div class="mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">+91</span>
        </div>
        {{ form.mobile_number }}
      </div>
    </div>

    <button type='submit' class='btn btn-primary btn-block'>Continue As Guest <i class="fas fa-angle-double-right inline"></i></button>
</form>
