{% extends 'base.html' %}
{% block content %}
        
    <div class = "jumbotron">
            <h1>Donate Now</h1>
            <hr/>
        <div class = "row">
            
            <div class = "col-sm">
                <img src = "https://1.bp.blogspot.com/-zCHCIll7sa4/WTo3BLrlFNI/AAAAAAADK_k/kZpA_D0GpfoW6EVx8WMfTTlgIwscLZ2IACLcB/s400/IMG_0457.JPG" width="700dp" height="500dp" />

            </div>
            <div class = "col-sm">
                <h2>Your helping hand will help them grow tomorrow</h3>
                <p>Help Us to provide free education to Children and Women empowerment through skill development. Support us by providing help in form of donation; fund raising; teaching children; business development for women empowerment; promotion on social media.</p>
                <h4>Donate Now by downloading our app</h4>
                <input class="btn btn-info btn-lg" value="Donate Now" href="products/"/>
            </div>
        </div>


    <!-- </div> -->

    <div class="jumbotron">
    	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="row">
		  <!-- <div class="col-sm-6" > -->
		    <div class="card">
		      <div class="card-body">
		      	<img class="card-img" src="https://2.bp.blogspot.com/-kIyBj3o_UQo/Vjb4FjKseHI/AAAAAAACX74/wWxwKJgZVlE/s1600/IMG_20151102_094205_1.jpg" alt="Card image" style="width: 18rem;>
		      	<div class="card-img-overlay">
		        <h5 class="card-title"></h5>
		        <p class="card-text">Women Empowerment.</p>
		        <a href="#" class="btn btn-primary">Donate</a>
		      </div>
		  	 <!-- </div> -->
		    </div>
		  <!-- </div>/ -->
		   <!-- <div class="col-sm-6"> -->
		    <div class="card">
		      <div class="card-body">
		      	<img class="card-img" src="https://2.bp.blogspot.com/--RNgbYjNyZU/WrxLI9jbr2I/AAAAAAAD6wA/E-Gl0tjp080csMknr5YP3pbGitdNkTMkwCKgBGAs/s640/IMG-20180210-WA0044.jpg" alt="Card image" style="width: 18rem;>
		      	<div class="card-img-overlay">
		        <h5 class="card-title"></h5>
		        <p class="card-text">Child Education.</p>
		        <a href="#" class="btn btn-primary">Donate</a>
		      </div>
		  	 <!-- </div> -->
		    </div>
		  <!-- </div> -->
		  <div class="card">
		      <div class="card-body">
		      	<img class="card-img" src="https://2.bp.blogspot.com/-kIyBj3o_UQo/Vjb4FjKseHI/AAAAAAACX74/wWxwKJgZVlE/s1600/IMG_20151102_094205_1.jpg" alt="Card image" style="width: 18rem;>
		      	<div class="card-img-overlay">
		        <h5 class="card-title"></h5>
		        <p class="card-text">Women Empowerment.</p>
		        <a href="#" class="btn btn-primary">Donate</a>
		      </div>
		  	 <!-- </div> -->
		    </div>
		  <!-- </div>/ -->
		   <!-- <div class="col-sm-6"> -->
		    <div class="card">
		      <div class="card-body">
		      	<img class="card-img" src="https://2.bp.blogspot.com/--RNgbYjNyZU/WrxLI9jbr2I/AAAAAAAD6wA/E-Gl0tjp080csMknr5YP3pbGitdNkTMkwCKgBGAs/s640/IMG-20180210-WA0044.jpg" alt="Card image" style="width: 18rem;>
		      	<div class="card-img-overlay">
		        <h5 class="card-title"></h5>
		        <p class="card-text">Child Education.</p>
		        <a href="#" class="btn btn-primary">Donate</a>
		      </div>
		  	 <!-- </div> -->
		    </div>
		</div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

{% endblock %}
