
{% extends 'base.html' %}
{% block content %}

    <div class = "jumbotron">
            <h1>Donate Now</h1>
            <hr/>
        <div class = "row">

            <div class = "col-sm">
                <img src = "https://1.bp.blogspot.com/-zCHCIll7sa4/WTo3BLrlFNI/AAAAAAADK_k/kZpA_D0GpfoW6EVx8WMfTTlgIwscLZ2IACLcB/s400/IMG_0457.JPG" width="700dp" height="500dp" />

            </div>
            <div class = "col-sm">
                <h2>Your helping hand will help them grow tomorrow</h2>
                <p>Help Us to provide free education to Children and Women empowerment through skill development. Support us by providing help in form of donation; fund raising; teaching children; business development for women empowerment; promotion on social media.</p>
                <h4>Donate Now by downloading our app</h4>
                <input class="btn btn-info btn-lg" value="Donate Now" href="products/"/>
            </div>
        </div>
    </div>


{% endblock %}
