{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <div style="text-align: center">
    <h1 class="display-4"><strong>Trishul</strong></h1>
    <p class="lead">Trishul is an NGO that emphasizes on Women Empowerment</p>
  </div>
    <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-6" >
        <p><h3>About Trishul</h3></p>
        <p class="text-justify">A registered charitable organization working towards building self-sustainable communities through skill development, education and livelihood programs in urban slums and economically weak rural villages in India. Core programs focus on Empowering Women through skill development and Livelihood Generation; and Empowering Children’s through Holistic Education. Over last two decades, we have helped improve the quality of life for more than 50,000 families through several projects in the areas of hygiene and sanitation, waste management, education, health and nutrition, disaster management, youth empowerment and environment conservation.          </p>
      </div>
      <div class="col-6" style="text-align: center">
          <img src="https://1.bp.blogspot.com/-60VSCdxn3t8/WPec_m8l0YI/AAAAAAAAAUo/or9h2fXBSsA4TU_f_5I7dsvjU5SpVB8LwCK4B/s1600/Trishul%2Bmascot%2Blogo.jpg" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
