<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Trishul</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
        <div class="dropdown">
          <button class="dropbtn">Products</button>
          <div class="dropdown-content">
            <a href="/products/bags">Bags</a>
            <a href="/products/bookmarks">Bookmarks</a>
            <a href="/products/cards/">Cards</a>
            <a href="/products/jewellery">Jewellery</a>
            <a href="/products/keychain">Keychain</a>
            <a href="/products/paperweights">Paperweights</a>
            <a href="/products/candles">Candles</a>
          </div>
        </div>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'donate' %}">Donate</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="cart">Cart</a>
      </li>
      </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
      


      <li class="nav-item dropdown">
                <a class="nav-link" href="logout">Logout</a>

          </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
