{% extends 'base.html' %}

{% block body %}
<div class="card py-5">
  <img class="card-img-top" src="https://1.bp.blogspot.com/-60VSCdxn3t8/WPec_m8l0YI/AAAAAAAAAUo/or9h2fXBSsA4TU_f_5I7dsvjU5SpVB8LwCK4B/s1600/Trishul%2Bmascot%2Blogo.jpg" style="height:50px width:50px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About Trishul</h5>
      <p class="card-text">A registered charitable organization working towards building self-sustainable communities through skill development, education and livelihood programs in urban slums and economically weak rural villages in India. Core programs focus on Empowering Women through skill development and Livelihood Generation; and Empowering Children’s through Holistic Education. Over last two decades, we have helped improve the quality of life for more than 50,000 families through several projects in the areas of hygiene and sanitation, waste management, education, health and nutrition, disaster management, youth empowerment and environment conservation. </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
