Babel==2.5.3
boto==2.48.0
boto3==1.6.23
botocore==1.9.23
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
dj-database-url==0.5.0
Django==1.11.4
django-appconf==1.0.2
django-braces==1.12.0
django-debug-toolbar==1.9.1
django-generic-positions==0.2.2
django-libs==1.67.13
django-meta==1.4.1
django-model-utils==3.1.1
django-phonenumber-field==2.0.0
django-social-share==1.1.2
django-storages==1.6.6
docutils==0.14
easy-thumbnails==2.5
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.11.1
idna==2.6
instamojo-wrapper==1.1
jmespath==0.9.3
phonenumberslite==8.9.0
Pillow==5.0.0
PyPDF2==1.26.0
python-dateutil==2.6.1
pytz==2017.3
reportlab==3.4.0
requests==2.18.4
s3transfer==0.1.13
simplejson==3.13.2
six==1.11.0
sqlparse==0.2.4
swapper==1.1.0
urllib3==1.22
webencodings==0.5.1
xhtml2pdf==0.2.1
